<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">Créer votre profile</h1>
        <p class="text-center">Faite partie de la communauté,et remplisser votre profil</p>
    </div>
</div>