<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="text-center">
        <% if params[:plan] == '2' %>
        <h1>Offre premium</h1>
          <p>L'offre premium vous donne accés à la communauté,aux informations de contacte,et bien sûr un verre gratuit lors des meetups! :)</p>
          <p> 10 euros/mois sans engagement.</p>
        <% else %>
          <h1>Inscription gratuite</h1>
          <p>L'inscription gratuite vous donne accés à la communauté et rien d'autre!</p>
        <% end %>
      </div>
      
      <div class="well">
        <h2>Inscrivez-vous</h2>
        <% if params[:plan] == '2' %>
          <%= render "pro_form" %>
        <% else %>
          <%= render "basic_form" %>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>