<div class="container text-center">
<h1>Qui sommes-nous?</h1>
<p>Le concept d'AdopteUnDev.com est simple,nous sommes une plateforme de micro-travail qui met en relation des développeurs indépendants et des entrepreneurs.</p>
<p>Passez d'une idée à un projet.</p>
</div>