<div class="home-callout text-center container-fluid">
  <h1>Bienvenue sur Adopteundev.com</h1>
  <p>Un site de mise en relation entre développeurs web et entrepreneurs</p>
</div>
<div class="container acceuil-souscription">
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Inscription gratuite</h2>
        <h4>Inscrivez-vous gratuitement pour voir les offres proposées.</h4>
        <br/>
        <%= link_to "Souscrire à l'offre de base", new_user_registration_path(plan: @basic_plan.id), class:"btn btn-default btn-lg btn-block" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Premium</h2>
        <h4>Inscrivez-vous à l'offre premium 10euros/mois sans engagement pour contacter l'annonceur.</h4>
        <%= link_to "Souscrire à l'offre complète", new_user_registration_path(plan: @pro_plan.id), class:"btn btn-primary btn-lg btn-block" %>
      </div>
    </div>
  </div>
  <%= link_to "créer votre profil!", new_user_profile_path(user_id: current_user.id) if user_signed_in? %>
</div>