<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <p>Vous avez reçu un message du formulaire de contact,de 
        <%= "#{ @name }, #{ @email }." %></p>
        <p><%= @body %></p>
    </body>
    
</html>